@page
@model SparkAuto.Pages.Cars.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Car Type</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.VIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.VIN)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Make)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Style)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Style)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Color)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Make)
        </dd>
    </dl>
    

</div>
<div class="form-group row">
    <div class="col-5 offset-2">
        <div class="row">
            <div class="col-6">
                <a asp-page="Edit" asp-route-id="@Model.Car.Id" class="btn btn-info form-control">Edit</a>
            </div>
            <div class="col-6">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>

    </div>
</div>
